In [ ]:
#함수

In [1]:
def get_area(radius) :
  area = 3.14 * radius**2
  return area

result = get_area(3)
print("반지름이 3인 원의 면적: ", result)

반지름이 3인 원의 면적:  28.26

In [2]:
#여러개의 값 반환

In [5]:
def get_input():
  return 2,3

x,y = get_input()
print(x,y)

2 3

In [8]:
def test(*args) :
  print(args)
  print(type(args))

test(10,20,30)

(10, 20, 30)
<class 'tuple'>

In [11]:
def varfunc(*args) :
  print(args)
  
print("하나의 값으로 호출")
varfunc(10)

print("여러 개의 값으로 호출")
varfunc(10,20,30)

하나의 값으로 호출
(10,)
여러 개의 값으로 호출
(10, 20, 30)

In [20]:
a = {"하나":1, "둘":2, "셋":3}

print(a)
print(type(a))
print(a["하나"])

{'하나': 1, '둘': 2, '셋': 3}
<class 'dict'>
1

In [24]:
def factorial(n) :
  if n == 1 :
    return(1)
  else :
    return n * factorial(n-1)

n = eval(input("정수를 입력하시오:"))
print(n, "!= ", factorial(n))

정수를 입력하시오:4
4 !=  24

In [27]:
gx = 100
g = 200
def myfunc():
  global gx #global로 전역변수를 선언해야 전역변수의 값에 영향을 줄 수 있다.
  gx = g
  print(gx)

myfunc()
print(gx)

200
200

In [28]:
#zip() 함수

In [30]:
questions = ['name','quest','color']
answers = ['kim','파이썬','blue']
for q,a in zip(questions, answers) :
  print(f"What is your {q}? It is {a}")

What is your name? It is kim
What is your quest? It is 파이썬
What is your color? It is blue

In [31]:
#append
a = ['a','b','c']
b = [1,2,3]

a.append(b)
print(a)

['a', 'b', 'c', [1, 2, 3]]

In [32]:
#extend
a = ['a','b','c']
b = [1,2,3]

a.extend(b)
print(a)

['a', 'b', 'c', 1, 2, 3]

In [34]:
#list의 합연산(extend와 유사)
a = ['a','b','c']
b = [1,2,3]

a = a + b
print(a)

['a', 'b', 'c', 1, 2, 3]

In [35]:
scores = [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
print("제거 전", scores)
scores.remove(max(scores))
scores.remove(min(scores))
print("제거후",scores)

제거 전 [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
제거후 [9.0, 8.3, 7.1, 9.0]

In [ ]:
#리스트 함축

In [38]:
squares = []

for x in range(10) :
  squares.append(x*x)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
squares = [x*x for x in range(10)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
# a = [x*y for x in range(10) for y in range(10)]
# 풀어서 작성하면 아래와 같다.

a = []

for x in range(10) :
  for y in range(10) :
    a.append(x*y)

In [40]:
#else문이 존재할 경우 if문은 왼쪽으로 배치된다.

prices = [135, -545, 922, 356, -922, 217]
mprices = [i if i>0 else 0 for i in prices]

#풀어서 작성할 경우
#for i in prices :
# ifi>0 :
  #   mprices.append(i)
  # else :
  #   mprices.append(0)

In [42]:
numbers = [x+y for x in ['a','b','c'] for y in ['x','y','z']]

print(numbers)

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']