In [ ]:
3.14 * 10 * 10

314.0

In [ ]:
3.14 * 10**2

314.0

In [ ]:
import math
math.sin(40)

0.7451131604793488

In [ ]:
"안녕하세요"

'안녕하세요'

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("결과값은", 10, "입니다")

결과값은 10 입니다

In [ ]:
print("나의" + "고양이")

나의고양이

In [ ]:
print("야옹" * 10 )

야옹야옹야옹야옹야옹야옹야옹야옹야옹야옹

In [ ]:
print("2+3=", 2+3)

2+3= 5

In [ ]:
x = 10000
y = 20000

In [ ]:
print(x + y)

30000

In [ ]:
radius = 10

In [ ]:
area = 3.14 * radius**2

In [ ]:
print("반지름이", radius,"인 원의 면적은 ", area, "입니다")

반지름이 10 인 원의 면적은  314.0 입니다

In [ ]:
type(area)

float

In [ ]:
type(x)

int

In [ ]:
type(12.30)
type("hello")

str

In [ ]:
type(12.30)

float

In [ ]:
x = y = z = 10

In [ ]:
x,y,z = 10,20,30

In [ ]:
x = 1000
print("x의 초기값 x=", x)
x +=2
print("x += 2 후의 x=", x)
x -= 2
print("x -= 2 후의 x=", x)

x의 초기값 x= 1000
x += 2 후의 x= 1002
x -= 2 후의 x= 1000

In [ ]:
x = 3.14

y = str(x)

print(y)
print(type(y))

3.14
<class 'str'>

In [ ]:
price = 12345
tax = price * 0.075
tax = round(tax, 2)
print(tax)

925.88

In [ ]:
msg = "철수가 '안녕'이라고 말했습니다"

In [ ]:
print(msg)

철수가 '안녕'이라고 말했습니다

In [ ]:
# 문단째로 저장할 땐 큰 따옴표 3개를 사용, 여러줄을 주석처리할 때에도 사용
a = """안녕하세요
오승환입니다."""

In [ ]:
print(a)

안녕하세요
오승환입니다.

In [ ]:
print("말 한마디로\n천냥빚을 갚는다")

말 한마디로
천냥빚을 갚는다

In [ ]:
print("말\t한마디로 천냥빚을 갚는다")

말	한마디로 천냥빚을 갚는다

In [ ]:
print("she\'s gone")

she's gone

In [ ]:
s = "Hello World"
print(s[0] + s[6])

HW

In [ ]:
#슬라이싱 기법 index 0 부터 2 이전까지
print(s[0:2])

He

In [ ]:
name = "Harry Parter"
lower_name = name.lower()
print(lower_name)

harry parter

In [ ]:
new_name = name.replace("Parter","Porter")
print(new_name)

Harry Porter

In [ ]:
name = input("이름을 입려하시오.:")

이름을 입려하시오.:홍길동

In [ ]:
print(name)
type(name)

홍길동

str

In [ ]:
x = int(input("첫 번째 정수를 입력하시오: "))
y = int(input("두 번째 정수를 입력하시오: "))
print(x + y)

첫 번째 정수를 입력하시오: 30
두 번째 정수를 입력하시오: 40
70

In [ ]:
x = 100
y = 200
print(f"{x}와 {y}의 합 = {x + y}")

100와 200의 합 = 300

In [ ]:
# 10칸(결과포함).소수점 둘 째 자리, float타입
py = 7.1234
print("테스트 출력: %10.2f" % py)

테스트 출력:       7.12

In [ ]:
py = 7.1234
print("테스트 출력: %2.1f" % py)

테스트 출력: 7.1

In [4]:
a = "안녕하세요"
print(a[3]) #인덱싱
print(a[-2]) #인버스인덱싱
print(a[0:2]) #슬라이싱
print(a[0:5:2])#스텝
print(a[::2]) #스텝, 범위생략
print(a[::-2]) #리버스스텝

세
세
안녕
안하요
안하요
요하안

In [5]:
#@@@@@@@@@@@@@@@@@@@@
#@@@@@@@@@@@@@@@@@@@@
#@@@@@@@@@@@@@@@@@@@@
#조건문
#@@@@@@@@@@@@@@@@@@@@
#@@@@@@@@@@@@@@@@@@@@
#@@@@@@@@@@@@@@@@@@@@

In [8]:
price = int(input("상품의 가격: "))

if price > 20000 :
  shipping_cost = 0
else :
  shipping_cost = 3000

print("배송비= ",shipping_cost)

상품의 가격: 15000
배송비=  3000

In [9]:
#python에서는 들여쓰기를 잘못해도 오류가 발생할 수 있다

In [13]:
a = 5000

if a > 10000 :
  print("if 걸림")
else :
  print("if 안걸림")
print("코드 끝")

if 안걸림
코드 끝

In [14]:
radius = 100
flag = (radius > 32)
print(flag)

True

In [16]:
#문자열의 비교는 가장 앞 글자의 알파벳번호로 비교한다.(같을 경우 뒷자리 비교)
s1 = "Audrey Hepburn"
s2 = "Grace Kelly"
print(s1 < s2)

True

In [21]:
import math
math.sqrt(9)

3.0

In [18]:
from math import sqrt
sqrt(9)

3.0

In [26]:
x = int(input("첫 번째 수 = "))
y = int(input("두 번째 수 = "))

max_value = (x if x>y else y)
min_value = (y if x>y else x)
print("큰 수 = ",max_value,"작은 수= ",min_value)

첫 번째 수 = 10
두 번째 수 = 20
큰 수 =  20 작은 수=  10

In [31]:
a = int(input("수를 입력하세요: "))

if a%2 == 0 :
  print("짝수")
else :
  print("홀수")

수를 입력하세요: 2
짝수

In [35]:
if price > 20000 and card == "python" :
  print("배송료가 없습니다")
else :
  print("배송료는 3000원입니다")

배송료는 3000원입니다

In [38]:
num = int(input("정수를 입력하세요"))

if num > 0 :
  print("양의 정수입니다")
elif num == 0 :
  print("0입니다")
else :
  print("음의 정수입니다")

정수를 입력하세요0
0입니다

In [41]:
a = float(input("리히터규모를 입력: "))

if a<2.0 :
  print("지진계에 의해서만 탐지 가능합니다.")
elif 2.0<=a<4 :
  print("물건들이 흔들리거나 떨어집니다.")
elif 4.0<=a<7 :
  print("빈약한 건물에 큰 피해가 있습니다.")
elif 7.0<=a<8 :
  print("지표면에 균열이 발생합니다.")
else :
  print("대부분의 구조물이 파괴됩니다.")

리히터규모를 입력: 5.2
빈약한 건물에 큰 피해가 있습니다.