01 파일 쓰기

작업디렉토리에 '매수종목1.txt' 파일을 생성한 후 다음과 같이 종목코드를 파일에 써보세요.

```
005930
005380
035420
```

In [3]:
f = open("./매수종목1.txt","w")

f.write("005930\n")
f.write("005380\n")
f.write("035420")

f.close()

02 파일 쓰기

작업디렉토리에 '매수종목2.txt' 파일을 생성한 후 다음과 같이 종목코드와 종목명을 파일에 써보세요.

```
005930 삼성전자
005380 현대차
035420 NAVER
```

In [4]:
f = open("./매수종목2.txt","w")

f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER")

f.close()

03 파일 읽기

작업디렉토리에 생성한 '매수종목1.txt' 파일을 읽은 후 종목코드를 리스트에 저장해보세요.

```
005930
005380
035420
```

In [18]:
infile = open("./매수종목1.txt","r") # 매수종목 파일을 처음부터 읽는다.

code = [] # code 리스트 선언
line = infile.readline().strip() # 1줄의 좌,우의 공백을 지운 후 line 객체에 할당
while line != "": # line 객체에 아무것도 들어있지 않은게 아니라면
  code.append(line) # code 리스트에 line을 추가
  line = infile.readline().strip() # 다음 줄을 line에 할당, 끝까지 읽었다면 ""을 할당

print(code) # code 리스트 출력

['005930', '005380', '035420']

04 파일 읽기

바탕화면에 생성한 '매수종목2.txt' 파일을 읽은 후 종목코드와 종목명을 딕셔너리로 저장해보세요. 종목명을 key로 종목명을 value로 저장합니다.

```
005930 삼성전자
005380 현대차
035420 NAVER
```

In [23]:
infile = open("./매수종목2.txt","r")

dic = {}

line = infile.readline().rstrip().split(" ")
while line[0] != "":
  dic[line[0]] = line[1]
  line = infile.readline().rstrip().split(" ")

print(dic)

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

05 예외처리

문자열 PER (Price to Earning Ratio) 값을 실수로 변환할 때 에러가 발생합니다. 예외처리를 통해 에러가 발생하는 PER은 0으로 출력하세요.

```
per = ["10.31", "", "8.00"]

for i in per:
    print(float(i))
```

In [26]:
per = ["10.31", "", "8.00"]

for i in per:
  try:
    print(float(i))
  except:
    print(0)

10.31
0
8.0

06 예외처리 및 리스트에 저장

문자열로 표현된 PER 값을 실수로 변환한 후 이를 새로운 리스트에 저장해보세요.

```
per = ["10.31", "", "8.00"]

for i in per:
    print(float(per))
```

In [36]:
per = ["10.31", "", "8.00"] # 문자열로 구성된 리스트

list = [] # 새로운 리스트 선언

for i in per: # per의 요소를 순회하는 i
  try: # 도전!
    list.append(float(i)) # i를 float으로 변환하여 리스트에 추가
  except: # 예외가 발생한다면...(i를 float으로 변환하지 못하는 경우)
    list.append(float(0)) # 0을 입력

print(list)

[10.31, 0.0, 8.0]

07 특정 예외만 처리하기

어떤 값을 0으로 나누면 ZeroDivisionError 에러가 발생합니다. try ~ except로 모든 에러에 대해 예외처리하지 말고 ZeroDivisionError 에러만 예외처리해보세요.

In [38]:
try:
  x = 10/0
except ZeroDivisionError:
  print("0으로 나눌 수 없습니다.")

0으로 나눌 수 없습니다.

08 예외의 메시지 출력하기

다음과 같은 코드 구조를 사용하면 예외 발생 시 에러 메시지를 변수로 바인딩할 수 있습니다.

```
try:
    실행코드
except 예외 as 변수:
    예외처리코드 
리스트의 인덱싱에 대해 에러를 출력해보세요.

data = [1, 2, 3]

for i in range(5)
    print(data[i])
```

In [44]:
data = [1, 2, 3]

try:
  for i in range(5):
      print(data[i])
except Exception as e:
  print(e)

1
2
3
list index out of range

09 try, except, else, finally 구조 사용해보기

파이썬 예외처리는 다음과 같은 구조를 가질 수 있습니다.

```
try:
    실행 코드
except:
    예외가 발생했을 때 수행할 코드
else:
    예외가 발생하지 않았을 때 수행할 코드
finally:
    예외 발생 여부와 상관없이 항상 수행할 코드

```

아래의 코드에 대해서 예외처리를 사용하고 try, except, else, finally에 적당한 코드를 작성해봅시다. else와 finally는 적당한 문구를 print하시면 됩니다.

```
per = ["10.31", "", "8.00"]

for i in per:
    print(float(per))

```

In [54]:
per = ["10.31", "", "8.00"] # 문자열 리스트

for i in per: # per 리스트의 요소를 순회하는 i
  try: # 도전
      float(i) # i를 float 타입으로 변환
  except: # 예외가 발생했다면
    print("except: 예외가 발생") # 문자열 출력
  else: # 예외가 발생하지 않았다면
    print("코드실행:",float(i)) # 코드 실행
  finally: # 예외 발생유무에 상관없이
    print("finally: 적당한 문구\n") # 문자열 출력

코드실행: 10.31
finally: 적당한 문구

except: 예외가 발생
finally: 적당한 문구

코드실행: 8.0
finally: 적당한 문구