In [ ]:
# 리스트 함축 사용하기

In [ ]:
#[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

numbers = [x for x in range(100) if x%2 == 0 and x%3 == 0]
print(numbers)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
# 조건문에 else문이 있으면 for문의 왼쪽에 작성
alist = ['짝수' if i%2 == 0 else '홀수' for i in range(10)]
print(alist)

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [ ]:
# 2차원 리스트
s = [
      [1,2,3,4,5],
      [6,7,8,9,10],
      [11,12,13,14,15]
     ]
print(s)

# 2행 3열의 8을 출력, 인덱스는 0부터 시작한다.
print(s[1][2])

# 열은 범위로 지정할 수 있다. 2행의 3열부터 4열까지 출력
print(s[1][2:4])

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
8
[8, 9]

In [ ]:
matrix1 = []

# 언더바도 변수로 사용가능
for _ in range(6) : 
  matrix2 = [] # matrix2를 선언 하며 비워준다.
  for i in range(5) :
    matrix2.append(i)
  matrix1.append(matrix2)

print(matrix1)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# 2차원 리스트 함축

matrix = [[i for i in range(5)] for _ in range(6)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
matrix = [[0,0,0],[1,1,1],[2,2,2]]

result = []

for row in matrix : # row는 matrix의 요소를 순회한다. 첫 번째: [0,0,0] 두 번째: [1,1,1] 세 번째: [2,2,2]
  for num in row : # num은 row에 포함된 요소를 순회. 첫 번째 row를 순회하면 0,0,0
    result.append(num) # 순회하는 num을 result에 순서대로 추가해준다.

print(result)

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [ ]:
matrix = [['하나','둘','셋'],['넷','다섯','여섯'],['일곱','여덟','아홉']]

# 기대하는 출력
# 1 하나
# 2 둘
# 3 셋
# ...

i = 1
for row in matrix :
  for s in row :
    print( i, s)
    i += 1

1 하나
2 둘
3 셋
4 넷
5 다섯
6 여섯
7 일곱
8 여덟
9 아홉

In [ ]:
#
#
# 자료형 2
#
#

In [ ]:
# 튜플
# 튜플은 리스트와 유사하지만
# 1. () 소괄호를 사용, 괄호를 사용하지 않아도 된다
# 2. 수정이 불가능하다.
# 3. list()를 통해 리스트로 변환이 가능하다. tuple()을 통해 역으로 변환 가능

In [ ]:
# enumerate()

In [ ]:
fruits = ["apple", "banana", "grape"]
print(list(enumerate(fruits)))
for index, value in enumerate(fruits) :
  print(index, value)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]
0 apple
1 banana
2 grape

In [ ]:
# set() 집합
# set를 초기화 할때 {}로 초기화하면 안된다. set() 사용
# set는 중복허용이 안된다.

In [ ]:
aList = {1,2,3,4,5,1,2}
result = {x for x in aList if x%2==0}
print(result)

{2, 4}

In [ ]:
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
set(list1) & set(list2) # list1, list2 를 set로 변환 후 교집합(intersection)을 구한다.

{3, 4, 5}

In [ ]:
capitals = {}
capitals = { "KOREA":"Seoul","USA":"Washington","UK":"London"}

print(capitals["KOREA"])

Seoul

In [ ]:
capitals = {}
capitals["KOREA"]="Seoul"
capitals["USA"]="Washington"
capitals["UK"]="London"
capitals["FRANCE"]="Paris"

print(capitals)

{'KOREA': 'Seoul', 'USA': 'Washington', 'UK': 'London', 'FRANCE': 'Paris'}

In [ ]:
capitals = {"KOREA":"Seaoul"} # capitals 딕셔너리를 선언
c = capitals.pop("KOREA") 
print(c)
print(capitals)

Seaoul
{}

In [ ]:
capitals = {"KOREA":"Seoul","USA":"Washington"}

print(capitals.items())
print(capitals.keys()) # 딕셔너리 요소의 "키"들만 출력
print(capitals.values()) # 딕셔너리 요소의 "값"들만 출력

print(list(capitals.items())[0]) # 리스트로 변환 후 인덱스 0인 요소를 출력

dict_items([('KOREA', 'Seoul'), ('USA', 'Washington')])
dict_keys(['KOREA', 'USA'])
dict_values(['Seoul', 'Washington'])
('KOREA', 'Seoul')

In [ ]:
capitals = {"Korea":"Seoul","USA":"Washington","UK":"London"}

for key in capitals.items(): # 딕셔너리.itmes()를 하나의 변수로 for문을 순회하면 키,값 쌍으로 순회
  print(key)

for k, v in capitals.items() : # 딕셔너리.items()를 두개의 변수로 for문을 순회하면 각각의 변수에 키와 값으로 순회
  print(k,v)

('Korea', 'Seoul')
('USA', 'Washington')
('UK', 'London')
Korea Seoul
USA Washington
UK London

In [ ]:
for key in sorted(capitals.keys()) :
  print(key, end=" ")

Korea UK USA

In [21]:
values = [1,2,3,4,5,6]

dic = {x : x**2 for x in values if x%2==0}

print(dic)

{2: 4, 4: 16, 6: 36}

In [22]:
# 딕셔너리에 요소를 추가할 때 특정 index에 추가하고싶다면 list로 변환한 후 추가하고 다시 변환해야하나?

In [23]:
#회문

In [25]:
s = input("문자열을 입력하시오: ")

s1 = s[::-1] # 문자열을 거꾸로 만든다

if s == s1 :
  print("회문입니다.")
else :
  print("회문이 아닙니다.")

문자열을 입력하시오sis
회문입니다.

In [28]:
"ABCabc".isalpha() # 문자열이 알파벳으로 이루어져있는가?

True

In [29]:
"123".isdigit() # 문자열이 숫자로 이루어져있는가?

True

In [30]:
"abc".islower() # 문자열이 소문자인가?

True

In [31]:
#
#
# 객체와 클래스
#
#

In [33]:
class Avante :      # 아반떼 설계도, 차 속성은 가격만 설정
  def __init__(self,price) :    # initialization 함수. 특수메소드
    self.price = price
    print(price)

myAvante = Avante(2500)

2500

In [40]:
class Sonata :
  def __init__(self, price, color) :
    self.price = price    # 인스턴스 속성
    self.color = color

  def driving(self) :
    print('주행을 시작합니다')

mySonata = Sonata(3000, 'black')
print(mySonata.price)
print(mySonata.color)

mySonata.driving() # => 함수 인자에 self가 들어가는 이유 Sonata.driving(mySonata)

3000
black
주행을 시작합니다

In [46]:
class Counter :
  def __init__(self, initValue=0) :
    self.count = initValue

  def increment(self) : # Counter의 멤버함수 또는 인스턴스함수
    self.count += 1

a = Counter()

print(a.count)

a.increment()

print(a.count)

b = Counter(100)    # 카운터의 초기값은 100이 된다.
c = Counter()       # 카운터의 초기값은 0이 된다.

print(b.count)

0
1
100

In [50]:
# 원 클래스 정의
import math
# Circle 클래스를 정의한다.
class Circle :
  def __init__(self, radius=0) :
    self.radius = radius

  def getArea(self) :
    return math.pi * self.radius * self.radius
  def getPerimeter(self) :
    return 2 * math.pi * self.radius

# Circle 객체를 생성한다.
c = Circle(10)
print("원의 면적: ",c.getArea())
print("원의 둘레: ",c.getPerimeter())

원의 면적:  314.1592653589793
원의 둘레:  62.83185307179586

In [74]:
# 자동차 클래스 정의
class Car :
  def __init__(self,speed,color,model) :
    print("자동차 객체를 생성하였습니다.")
    self.__speed = speed # 앞에 "__"를 추가하면 정보를 은닉할 수 있다.
    self.color = color
    self.model = model

  def getSpeed(self) :
    return self.__speed

  def setSpeed(self, speed) :
    self.__speed = speed

myCar = Car(0,"blue","E-class")
print(myCar.getSpeed())
myCar.setSpeed(10)
print(myCar.getSpeed())

자동차 객체를 생성하였습니다.
0
10

In [77]:
print("자동차의 속도는 ", myCar.getSpeed())
print("자동차의 색상은 ", myCar.color)
print("자동차의 모델은 ", myCar.model)

자동차의 속도는  10
자동차의 색상은  blue
자동차의 모델은  E-class

In [84]:
# 클래스 변수

class Counter :
  value = 0
  def __init__(self) :
    Counter.value += 1
    self.count = Counter.value

a = Counter()

print(a.count)

b = Counter()

print(b.count)

print(a==b)

1
2
False

In [91]:
# 특수 메소드
class Counter :
  def __init__(self, value) :
    self.count = value
  
  def __eq__(self, other) :
    print("eq메소드 실행!")
    return self.count == other.count

  def __str__(self) :
    return "문자열 출력!"

a = Counter(10)
b = Counter(10)

print("====================")
print(a==b)

print(a)

====================
eq메소드 실행!
True
문자열 출력!

In [102]:
class Vector2D :
  def __init__(self, x, y) :
    self.x = x
    self.y = y

  def __add__(self, other) :
    print(self.x, other.x)
    print(self.y, other.y)
    print(self.x + other.x, self.y + other.y)

    return Vector2D(self.x + other.x, self.y + other.y)

  def __str__(self) :
    return f"({self.x},{self.y})"
    
u = Vector2D(1,2)
v = Vector2D(3,4)

a = u + v

print(a)

1 3
2 4
4 6
(4,6)

In [103]:
# 상속

In [105]:
class Car : # 부모
  def __init__(self, Car_price, color, km) :
    self.Car_price = Car_price
    self.color = color
    self.km = km

class Avante(Car) : # 자식, 부모(Car)를 상속
  def __init__(self, Car_price, color, km, year) :
    super().__init__(Car_price, color, km)  # 부모의 생성 함수
    self.year = year

myAvante = Avante(3000, "red", "120000km", "2009")

myAvante.Car_price

3000