01 

"뉴딜" 문자열을 화면에 출력하는 print_new() 함수를 정의하라.

In [ ]:
def print_new() :
  print("뉴딜")

print_new()

뉴딜

02

01번에서 정의한 함수를 호출하라.

In [ ]:
print_new()

뉴딜

03

01번에서 정의한 print_new 함수를 100번호출하라.

In [ ]:
# i는 range(100): 0~99까지 반복하며 print_new() 함수를 실행 (print("뉴딜"))
for i in range(100) :
  print_new()

뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜

04

"뉴딜" 문자열을 100번 화면에 출력하는 new_prints() 함수를 정의하라.

In [ ]:
def new_prints() :
  for i in range(100) :
    print_new()

new_prints()

뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜

05

아래의 에러가 발생하는 이유에 대해 설명하라.

```
hello()
def hello():
    print("Hi")
```

실행 예
```
NameError: name 'hello' is not defined
```

In [ ]:
#'hello'함수가 정의되기 이전에 함수를 실행해서 오류가 발생합니다.

Hi

06

아래 코드의 실행 결과를 예측하라.

```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

In [ ]:
# A
# B
# C
# A
# B

# 문자열 "A","B"를 출력하는 함수 message()를 정의
def message() :
    print("A")
    print("B")

message() #message() 함수 실행, "A"출력, "B"출력
print("C") # "C"출력
message() #message() 함수 실행, "A"출력, "B"출력

A
B
C
A
B

07

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

```
print("A")

def message() :
    print("B")

print("C")
message()
```

In [ ]:
# A
# C
# B

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

08

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

In [ ]:
# A
# C
# B
# E
# D

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

09

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

In [ ]:
# B
# A

# 문자열 "A"를 출력하는 message1() 함수를 정의
def message1():
    print("A")

# 문자열 "B"를 출력하고, message1()함수를 실행하는 message2() 함수를 정의
def message2():
    print("B")
    message1()

message2() # 문자열 "B"를 출력하고 message1() 함수에 내재된 문자열 "A"도 출력한다.

B
A

10

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

```

In [ ]:
# B
# C
# B
# C
# B
# C
# A

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

11


함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [ ]:
# 안녕
# Hi

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

12

함수의 호출 결과를 예측하라.

```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [ ]:
# 7
# 15

# a 와 b의 합연산을 출력하는 함수(a,b)를 정의
def 함수(a, b) :
    print(a + b)

함수(3, 4) # 3 + 4 를 출력
함수(7, 8) # 7 + 8 을 출력

7
15

13

아래와 같은 에러가 발생하는 원인을 설명하라.

```
def 함수(문자열) :
    print(문자열)

함수()
```

```
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [ ]:
# "함수"라는 이름의 함수를 실행하기 위해 필요한 argument가 없다.

def 함수(문자열) :
    print(문자열)

함수("argument가 있다면 성공")

argument가 있다면 성공

14

아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```

In [ ]:
# "함수"라는 이름의 함수에 2개의 argument를 주입하는데,String 타입과 int 타입은 서로 + 연산을 할 수 없기 때문에 에러가 발생한다.
# 타입을 String 또는 int로 일치시켜주어야 한다.

안녕3

15

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [ ]:
# 인수로 입력된 string에 ":D"를 추가하여 출력하는 print_with_smile(string) 함수를 정의
def print_with_smile(string) :
  print(string + ":D")

print_with_smile("안녕") # "안녕"에 ":D"를 추가하여 출력

안녕:D

16

15에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [ ]:
print_with_smile("안녕하세요")

안녕하세요:D

17

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [ ]:
def print_upper_price(price) :
  print(price * 0.3)

print_upper_price(232323)

69696.9

18

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [ ]:
# 인수 x와 y의 합연산을 출력하는 print_sum(x,y) 함수를 정의
def print_sum(x,y) :
  print(x + y)

print_sum(0,232)

232

19

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [ ]:
def print_arithmetic_operation(x,y) :
  print(x+y)
  print(x-y)
  print(x*y)
  print(x/y)

print_arithmetic_operation(3,2)

5
1
6
1.5

20

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [ ]:
def print_max(x,y,z) :
  max = x
  if(y>max) :
    max = y
  if(z>max) :
    max = z
  print(max)

print_max(5,123,333)

333

21

입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

```
print_reverse("python")
```

```
nohtyp
```

In [ ]:
def print_reverse(string) :
  for i in range(len(string),0,-1) : # i는 인수로 입력된 string의 길이부터 역으로 순회한다.( len(string) 부터 1까지)
    print(string[i-1],end="") # 인수로 입력된 문자열 string의 마지막 index부터 index = 0까지 연속으로 출력

print_reverse("python")

nohtyp

22

성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
```
```
2.0
```

In [ ]:
def print_score(grade) :
  # sum = 0;
  # for i in range(0,len(grade)) :
  #   sum += grade[i]
  # print(sum/len(grade))

  # or
  print(sum(grade)/len(grade))

print_score([3,6,10])

6.333333333333333

23

하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
```
print_even ([1, 3, 2, 10, 12, 11, 15])
```
```
2
10
12
```

In [ ]:
def print_even(num) :
  for i in range(len(num)) :
    if(num[i]%2 == 0) :
      print(num[i])

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

24

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```

```
이름
나이
성별
```

In [ ]:
def print_keys(dic) :
  for k in dic.keys() : # 인수로 입력된 dic의 key를 순회하는 k
    print(k) # dic의 key를 순차적으로 출력한다.

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

25

입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

```
print_5xn("아이엠어보이유알어걸")
```
```
아이엠어보
이유알어걸
```

In [ ]:
def print_5xn(string) :
  # for s in range(len(string)) :
  #   if(s%5 == 0) :
  #     print()
  #     print(string[s],end="")
  #   else :
  #     print(string[s],end="")

    # 선생님 답   
    line_num = int(len(string)/5)
    for i in range(line_num) :
      print(string[i*5:i*5+5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

26

문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

```
printmxn("아이엠어보이유알어걸", 3)
```
```
아이엠
어보이
유알어
걸
```

In [ ]:
def printmxn(string, int) :
  for i in range(len(string)) :
    if(i%int == 0) :
      print()
      print(string[i],end="")
    else :
      print(string[i],end="")

printmxn("안녕하세요",2)

안녕
하세
요

27

연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 

이 때 1원 미만은 버림한다.

```
calc_monthly_salary(12000000)
```
```
1000000
```

In [ ]:
#1의 자리를 버리기 위해 int타입으로 변환 후, 10으로 나눈 다음 다시 10을 곱해준다.
def calc_monthly_salary(sal) :
  print(int(sal/12/10) * 10) # 인수로 입력된 값을 12로 나눈 값에서 10으로 다시 나눈 후, int타입으로 변환 후, 다시 10을 곱하여 1의자리를 버린다.

calc_monthly_salary(121212)

10100


28

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

```
my_print(a=100, b=200)

In [ ]:
# 왼쪽: 100
# 오른쪽: 200

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

29

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
```
```
my_print(b=100, a=200)
```

In [ ]:
# 왼쪽: 200
# 오른쪽: 100

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

30

아래 코드를 실행한 결과를 예상하라.

```
def n_plus_1 (n) :
    result = n + 1
```
```
n_plus_1(3)
print (result)
```

In [ ]:
#함수 바깥에서 result는 선언되지 않았기때문에 출력되지 않는다.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
# print (result)

31

문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
```
```
www.naver.com
```

In [ ]:
def make_url(string) :
  print("www." + string + ".com")

make_url("naver")

www.naver.com

32

문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

```
make_list("abcd")
```
```
['a', 'b', 'c', 'd']
```

In [ ]:
def make_list(string) :
  list = []
  for i in range(len(string)) :
    list.append(string[i])

  print(list)

make_list("문자열")

['문', '자', '열']

33

숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

```
pickup_even([3, 4, 5, 6, 7, 8])
```
```
[4, 6, 8]
```

In [ ]:
def pickup_even(list) :
  newList = [] # 결과에서 출력할 비어있는 list "newList"를 선언
  for i in range(len(list)) : #인수로 입력된 list의 길이만큼 순회하는 i
    if(list[i]%2 == 0) : #인수로 입력된 list의 요소중 2로 나누어 나머지가 0이면(짝수이면)
      newList.append(list[i]) # 비어있던 newList에 순차적으로 요소를 추가(짝수인 요소들)
  print(newList) # 요소가 추가된 newList를 출력

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

34

콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

```
convert_int("1,234,567")
```
```
1234567
```

In [ ]:
def convert_int(string) :
  newString = ""
  for i in range(len(string.split(","))) : #문자열을 ,로 나눴을 때 나오는 요소의 수만큼 반복
    newString += string.split(",")[i]

  print(newString)

  #선생님 답안
  #replace(",", "")

convert_int("1,234,567")

1234567

35

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

In [ ]:
# a = 함수(10) => 10 + 4 => 14
# b = 함수(a) => 함수(14) => 18
# c = 22

def 함수(num) :
    return num + 4 # 입력된 인수에 4를 더하여 값을 반환

a = 함수(10) #a = 10 + 4 = 14
b = 함수(a) # b = 14 + 4 = 18
c = 함수(b) # c = 18 + 4 = 22
print(c) # 22를 출력

22

36

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

In [ ]:
#22

def 함수(num) :
    return num + 4 # 인수에 4를 더한 값을 반환

c = 함수(함수(함수(10))) # 가장 안쪽의 함수부터 실행한다. => ((num + 4) + 4) +4 , num에 인수 10을 대입하면 c = 22
print(c)

22

37

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

In [ ]:
# a = 14
# c = 140

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

38

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

In [ ]:
# c = 함수2(10) => 함수1(12) => 16

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

39
아래 코드의 실행 결과를 예측하라.

```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

In [ ]:
# c = 함수2(2) => 함수1(12) => 함수0(14) => 28

def 함수0(num) :
    return num * 2 # 인수에 2를 곱해서 반환

def 함수1(num) :
    return 함수0(num + 2) # 인수에 2를 더한 후 함수0()의 인수로 대입한 결과를 반환

def 함수2(num) :
    num = num + 10 # 인수에 10을 더한다
    return 함수1(num) # 10을 더한 인수를 함수1()의 인수로 대입한 결과를 반환

c = 함수2(2) # 순서대로, 함수2(2)는 함수1(12)를 반환하고, 함수1(12)는 함수0(14)를 반환, 함수0(14)는 28을 반환.
print(c)

28