001 print 기초

화면에 Hello World 문자열을 출력하세요.

In [1]:
print("Hello World")

Hello World

002 print 기초

화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary\'s cosmetics")

Mary's cosmetics

003 print 기초

화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [3]:
print("신씨가 소리질렀다.\"도둑이야\".")

신씨가 소리질렀다."도둑이야".

004 print 기초

화면에 "C:\Windows"를 출력하세요.

In [60]:
print("C:\\Windows")

C:\Windows

005 print 탭과 줄바꿈

다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [7]:
# 서술 '\n'은 줄바꿈 기능, '\t'는 띄어쓰기 4번 입력한 것과 같습니다.
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

006 print 여러 데이터 출력

print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

In [9]:
print("오늘은","일요일")

오늘은 일요일

007 print 기초

print( sep=';') 함수를 사용하여 다음과 같이 출력하세요. 

naver;kakao;sk;samsung

In [19]:
print(sep=';')
print("naver", "kakao", "sk", "samsung", sep=';')

naver;kakao;sk;samsung

008 print 기초

print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [22]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

009 print 줄바꿈

다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

In [26]:
print("first", end=" ");print("second")

firstsecond

010 연산 결과 출력

5/3의 결과를 화면에 출력하세요.

In [27]:
print(5/3)

1.6666666666666667

011 변수 사용하기

samsung라는 변수로 50,000원을 정의 해보세요. samsung 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [30]:
samsung = 50000
print(samsung * 10, "원", sep="")

500000원

012 변수 사용하기

다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 정의해보세요.

![image.png]()

In [61]:
시가총액 = "298조"
현재가 = "50,000원"
PER = "15.79"

print(시가총액 +"\n" + 50,000원 + "\n" + 15.79)

132
50,000원
15.79

013 문자열 출력

변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"

t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [34]:
s = "hello"
t = "python"
print(s,t,sep="! ")

hello! python

014 파이썬을 이용한 값 계산

아래 코드의 실행 결과를 예상해보세요.

2 + 2 * 3

In [35]:
print(2 + 2*3)

8

015 type 함수

type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a = 128

print(type(a))

출력: <class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

In [36]:
a = "132"
print(type(a))

<class 'str'>

016 문자열을 정수로 변환

문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [43]:
num_str = "720"
print(type(int(num_str)))

<class 'int'>

017 정수를 문자열 100으로 변환

정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [45]:
num = 100
num_str = str(num)
print(type(num_str))

<class 'str'>

018 문자열을 실수로 변환

문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [47]:
num_str = "15.79"
num_float = float(num_str)
print(type(num_float))

<class 'float'>

019 문자열을 정수로 변환

year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [57]:
year = "2020"
num_year = int(year)
print(num_year-2,num_year-1,num_year, sep="년,",end="년")

2018년,2019년,2020년

020 파이썬 계산

에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 

총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [59]:
month_pay = 48584
month = 36
print(month_pay * month, end="원")

1749024원

021 문자열 인덱싱

letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'

실행 예: p t

In [62]:
letters = 'python'
print(a[0],a[2])

1 2

022 문자열 슬라이싱

자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

실행 예: 2210

In [70]:
license_plate = "24가 2210"
print(license_plate[3:8]) # = print(license_plate[3:])

 2210

023 문자열 인덱싱

아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"

실행 예:
홀홀홀

In [72]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

024 문자열 슬라이싱 (어려움)

문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"

실행 예:
NOHTYP

In [73]:
string = "PYTHON"
print(string[::-1])

NOHTYP

025 문자열 치환 (어려움)

아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

실행 예:
010 1111 2222

In [75]:
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

026 문자열 다루기 (어려움)

25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222

In [76]:
print(phone_number.replace("-",""))

01011112222

027 문자열 다루기

url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

실행 예:
kr

In [108]:
url = "http://sharebook.kr"
print(url[-2] + url[-1])
print(url[-2:])

kr
kr

028 문자열은 immutable

아래 코드의 실행 결과를 예상해보세요.

lang = 'python'

lang[0] = 'P'

print(lang)

In [112]:
lang = 'python'
lang = "P" + lang[1:]
print(lang)

Python

029 replace 메서드

아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

실행 예:
Abcdfe2A354A32A

In [85]:
string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

Abcdfe2A354A32A

030 replace 메서드

아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'

string.replace('b', 'B')

print(string)

In [86]:
string = 'abcd'
string.replace('b','B') #새로운 변수로 선언하고 출력해야함
print(string)

abcd

031 문자열 합치기

아래 코드의 실행 결과를 예상해보세요.

a = "3"

b = "4"

print(a + b)

In [87]:
a = "3"
b = "4"
print(a + b)

34

032 문자열 곱하기

아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

In [88]:
print("Hi"*3)

HiHiHi

033 문자열 곱하기

화면에 '-'를 80개 출력하세요.

실행 예:--------------------------------------------------------------------------------

In [89]:
print("-"*80)

--------------------------------------------------------------------------------

034 문자열 곱하기

변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'

t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java

In [103]:
t1 = 'python'
t2 = 'java'
t = t1 + " " + t2
print((t + " ")*3 + t)

python java python java python java python java

035 문자열 출력

변수에 다음과 같이 문자열과 정수가 정의되어 있을 때 다음과 같이 출력해보세요.

name1 = "김민수" 

age1 = 10

name2 = "이철희"

age2 = 13

이름: 김민수 나이: 10

이름: 이철희 나이: 13

In [113]:
name1 = "김민수"
age1 = 10
name2 ="이철희"
age2 = 13
print("이름: " + name1 + " 나이:",age1)
print("이름: " + name2 + " 나이:",age2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10

036 문자열 출력

문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

힌트: print("{} {}".format(A,B))

In [114]:
print("이름: {} 나이: {}".format(name2,age2))

이름: 이철희 나이: 13

037 문자열 출력

파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

힌트: print(f"{A}")

In [ ]:
print(f"이름: {name1} 나이: {age1}")

038 컴마 제거하기

삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

samsung = "5,969,782,550"

In [118]:
samsung = "5,969,782,550"
int_samsung  = int(samsung.replace(",",""))
print(int_samsung)
print(type(int_samsung))

5969782550
<class 'int'>

039 문자열 슬라이싱

다음과 같은 문자열에서 '2020/03'만 출력하세요.

test = "2020/03(E) (IFRS연결)"

040 strip 메서드 (어려움)

문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [116]:
data = "   삼성전자    "

print(data)
print(data.strip())
print(data.rstrip()) #오른쪽 삭제
print(data.lstrip()) #왼쪽 삭제

   삼성전자
삼성전자
   삼성전자
삼성전자

041 upper 메서드

다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

In [129]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

042 lower 메서드

다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

In [130]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

043 capitalize 메서드

문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [132]:
string = 'hello'
print(string.capitalize())

Hello

044 endswith 메서드

파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [140]:
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))

True

045 endswith 메서드

파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [145]:
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))
print(file_name.endswith("xls"))

True
False

046 startswith 메서드

파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [146]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

True

047 split 메서드

다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"

In [147]:
a = "hello World"
print(a.split())

['hello', 'World']

048 split 메서드

다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

In [148]:
ticker = "btc_krw"
print(ticker.split("_"))

['btc', 'krw']

049 split 메서드

다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

In [126]:
date = "2020-05-01"
date2 = date.split("-")
print(date2[0] + "년" + date2[1] + "월" + date2[2] + "일")

2020년05월01일

050 rstrip 메서드

문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [149]:
data = "039490     "
print(data.rstrip())

039490