In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/

/content/drive/MyDrive

In [ ]:
!ls

 201008_AP4_RM_제작_도면.zip  'P8 MMG 1품1도.zip'   자료
'Colab Notebooks'	       김태영.zip	    주모_SQL정리.xlsx
'CSOT T4.zip'		       인생

01

for문의 실행결과를 예측하라.

```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

```

In [ ]:
#사과
#귤
#수박
과일 = ["사과", "귤", "수박"] #"사과", "귤", "수박" 을 요소로 하는 "과일" 리스트를 선언.
for 변수 in 과일: #"변수"라는 객체를 통해 "과일" 리스트의 모든 요소를 반복한다.
    print(변수) #각 반복마다 "과일"의 요소("변수")를 출력한다.

사과
귤
수박

02

for문의 실행결과를 예측하라.

```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
```

In [ ]:
# #####
# #####
# #####

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####") #1번문제와 거의 동일하나 "변수"로 선언했던 과일의 요소대신 "#####"라는 문자열을 출력한다.

#####
#####
#####

03

다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

```
for 변수 in ["A", "B", "C"]:
  print(변수)
```

In [ ]:
list = ["A", "B", "C"] #"list"라는 이름의 LIst를 선언하고 요소를 설정

for i in range(3) : #"i"를 range(3)만큼 반복하며 해당 요소(0,1,2)를 순회한다
  print(list[i]) #각 반복마다 "i"는 0,1,2의 값을 가지고, list의 index 0,1,2에 해당하는 값을 출력한다

A
B
C
A
B
C

04

for문을 풀어서 동일한 동작을하는 코드를 작성하라.

```
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
```

In [ ]:
#3번 문제와 동일, 출력할 때 마다 값의 앞에 "출력:"이라는 문자열을 붙여서 출력한다.
 
list = ["A","B","C"] #"list"라는 이름의 LIst를 선언하고 요소를 설정

for i in range(3) : #"i"를 range(3)만큼 반복하며 해당 요소(0,1,2)를 순회한다
  print("출력:", list[i]) #각 반복마다 "i"는 0,1,2의 값을 가지고, list의 index 0,1,2에 해당하는 값을 출력한다

출력: A

05

for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

```
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
```

In [ ]:
변수 = "A" #"변수"라는 이름의 변수에 문자열 "A"를 대입
b = 변수.lower() #"b"라는 이름의 변수에 "변수"의 값을 소문자로 변환하여 대입
print("변환:", b) #"변환: (b의 값)" 형식으로 출력

#아래도 위와 동일하게 반복

변수 = "B"
b = 변수.lower()
print("변환":, b)

변수 = "C"
b = 변수.lower()
print("변환":, b)

06

다음 코드를 for문으로 작성하라.

```
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
```

In [ ]:
for 변수 in [10, 20, 30] : #"변수"라는 이름의 변수로 해당 리스트의 요소들을 순회한다.
  print(변수) #반복할 리스트의 크기(3)만큼 반복하며 해당하는 요소의 값을 출력한다.

변수 = 10
10
변수 = 20
20
변수 = 30
30

07

다음 코드를 for문으로 작성하라.

```
print(10)
print(20)
print(30)
```

In [ ]:
for i in range(3) : #변수 "i"를 range(3)만큼 반복, 각 반복 시 i는 0,1,2의 값을 가진다.
  print((i+1)*10) #i의 값에 1을 더하여 순서대로 1,2,3이 되도록 한 후, 10을 곱하여 10,20,30을 순차적으로 출력한다.

10
20
30

08

다음 코드를 for문으로 작성하라.

```
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
```

In [ ]:
#7번 문제와 동일하나, "--------"를 추가로 출력한다.

for i in range(3) : #변수 "i"를 range(3)만큼 반복, 각 반복 시 i는 0,1,2의 값을 가진다.
  print((i+1)*10) #i의 값에 1을 더하여 순서대로 1,2,3이 되도록 한 후, 10을 곱하여 10,20,30을 순차적으로 출력한다.
  print("-------") #"-------"를 출력

10
-------
20
-------
30
-------

09

다음 코드를 for문으로 작성하라.

```
print("++++")
print(10)
print(20)
print(30)
```

In [ ]:
for i in range(4) : #변수 "i"를 range(4)만큼 반복, 각 반복 시 i는 0,1,2,3의 값을 가진다.
  if i == 0 : #"i"가 0일 경우
    print("++++") #"++++"를 출력
  else : #"i"가 0이 아닌 경우("i"가 1,2,3인 경우)
    print(i*10) #"i"의 값에 10을 곱한 값을 출력한다. 각각 10, 20, 30

++++
10
20
30

10

다음 코드를 for문으로 작성하라.

```
print("-------")
print("-------")
print("-------")
print("-------")
```

In [ ]:
#9번 문제와 유사하나, 특정한 값을 출력하는 대신 문자열 "--------"를 출력한다.

for i in range(4) : #변수 "i"를 range(4)만큼 반복, 각 반복 시 i는 0,1,2,3의 값을 가진다.
  print("-------") #"-------"를 출력

-------
-------
-------
-------

11

다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

```
리스트 = [100, 200, 300]
```
```
110
210
310
```

In [ ]:
리스트 = [100, 200, 300]

for i in 리스트 :
  print(i + 10)

110
210
310

12

for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
```
리스트 = ["김밥", "라면", "튀김"]
```
```
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

In [1]:
list = ["김밥", "라면", "튀김"] # 해당 요소를 포함하는 list를 선언

for i in list : # i는 list의 모든 요소를 순회한다
  print("오늘의 메뉴:",i) # 매번 "오늘의 메뉴:" 문자열과 함께 list의 요소를 한 번씩 순서대로 출력한다.

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

13

리스트에 주식 종목이름이 저장돼 있다.

```
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
```

저장된 문자열의 길이를 다음과 같이 출력하라.
```
6
4
4
```

In [ ]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트 :
  print(len(i))

6
4
4

14

리스트에는 동물이름이 문자열로 저장돼 있다.

```
리스트 = ['dog', 'cat', 'parrot']
```

동물 이름과 글자수를 다음과 같이 출력하라.

```
dog 3
cat 3
parrot 6
```

In [ ]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트 :
  print(i,len(i))

dog 3
cat 3
parrot 6

15

리스트에 동물 이름 저장돼 있다.

```
리스트 = ['dog', 'cat', 'parrot']
```
for문을 사용해서 동물 이름의 첫 글자만 출력하라.
```
d
c
p
```

In [ ]:
list = ['dog', 'cat', 'parrot'] # 해당 요소를 가지고있는 list를 선언

for i in list : # i는 list의 모든 요소를 순회한다.
  print(i[0]) # 각 문자열 오소의 0번째 인덱스(첫 번째 글자)를 출력한다.

d
c
p

16

리스트에는 세 개의 숫자가 바인딩돼 있다.

```
리스트 = [1, 2, 3]
```

for문을 사용해서 다음과 같이 출력하라.
```
3 x 1
3 x 2
3 x 3
```

In [ ]:
리스트 = [1, 2, 3]

for i in 리스트 :
  print("3 X",i)

3 X 1
3 X 2
3 X 3

17

리스트에는 세 개의 숫자가 바인딩돼 있다.

```
리스트 = [1, 2, 3]
```
for문을 사용해서 다음과 같이 출력하라.
```
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

In [ ]:
리스트 = [1, 2, 3]

for i in 리스트 :
  print("3 X", i, "=", 3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

18

리스트에는 네 개의 문자열이 바인딩돼 있다.

```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
나
다
라
```

In [ ]:
list = ["가", "나", "다", "라"] # 해당 요소를 포함하는 list를 선언

for i in list :  # i 는 list의 모든 요소를 순회한다
  if(i != "가") : # i가 "가"가 아니라면
    print(i) # i를 출력

#선생님의 방법
for i in range(1, len(list)) : # i는 1부터 list의 길이 만큼 순회(여기서 list의 요소는 4개이므로 1~3까지)
  print(list[i]) # i를 출력

나
다
라
나
다
라

19

리스트에는 네 개의 문자열이 바인딩돼 있다.
```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
가
다
```

In [ ]:
리스트 = ["가", "나", "다", "라"]

for i in range(0,len(리스트)) :
  if(i%2 == 0) :
    print(리스트[i])

#선생님의 방법

for i in range(0, len(리스트),2) :
  print(리스트[i])

가
다
가
다

20

리스트에는 네 개의 문자열이 바인딩돼 있다.

```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
라
다
나
가
```

In [ ]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1] :
  print(i)

라
다
나
가

21

리스트에는 네 개의 정수가 저장돼 있다.

```
리스트 = [3, -20, -3, 44]
```

for문을 사용해서 리스트의 음수를 출력하라.
```
-20
-3
```

In [ ]:
list = [3, -20, -3, 44] # 해당 요소를 포함하는 list 선언

for i in list[1:3] : # list의 인덱스 1부터 3전까지(1,2)
  print(i) # 요소를 출력

-20
-3

22

for문을 사용해서 3의 배수만을 출력하라.

```
리스트 = [3, 100, 23, 44]
```
```
3
```

In [ ]:
nums = [3, 100, 23, 44] # nums 리스트 를 선언

for i in nums : # i는 nums의 모든 요소를 순회
  if(i%3 == 0) : # i 를 3으로 나눈 나머지가 0이라면(요소가 3의 배수라면)
    print(i) # i를 출력

3

23

리스트에서 20 보다 작은 3의 배수를 출력하라
```
리스트 = [13, 21, 12, 14, 30, 18]
```
```
12
18
```

In [ ]:
list = [13, 21, 12, 14, 30, 18]

for i in list :
  if(i%3 == 0 and i<20) :
    print(i)

12
18

24

리스트에서 세 글자 이상의 문자를 화면에 출력하라

```
리스트 = ["I", "study", "python", "language", "!"]
```
```
study
python
language
```

In [ ]:
list = ["I", "study", "python", "language", "!"] # list 리스트를 선언

for i in list : # i는 list의 모든 요소를 순회한다.
  if(len(i) >= 3) : # 요소(문자열)의 길이가 3이상이라면
    print(i) # 요소(문자열)을 출력

study
python
language

25

리스트에서 대문자만 화면에 출력하라.

```
리스트 = ["A", "b", "c", "D"]
```
```
A
D
```
(참고) isupper() 메서드는 대문자 여부를 판별합니다.
```
>> 변수 = "A"
>> 변수.isupper()
True
>> 변수 = "a"
>> 변수.isupper()
False
```

In [ ]:
list = ["A", "b", "c", "D"] # list 리스트를 선언

for i in list : # i는 리스트의 모든 요소를 순회
  if(i.isupper()) : # 요소가 대문자라면
    print(i) # 요소를 출력

A
D

26

리스트에서 소문자만 화면에 출력하라.

```
리스트 = ["A", "b", "c", "D"]
```
```
b
c
```

In [ ]:
list = ["A", "b", "c", "D"]

for i in list :
  if(i.islower()) :
    print(i)

b
c

27

이름의 첫 글자를 대문자로 변경해서 출력하라.

```
리스트 = ['dog', 'cat', 'parrot']
```
```
Dog
Cat
Parrot
```
(참고) upper() 메서드는 문자열을 대문자로 변경합니다.
```
>> 변수 = "a"
>> a.upper()
A
>> 변수 = "abc"
>> 변수.upper()
ABC
```

In [ ]:
list = ['dog', 'cat', 'parrot'] # list 리스트를 선언

for i in list : # i는 list의 모든요소를 순회
  print(i[0].upper() + i[1:]) # 요소(문자열)의 첫번째 글자를 대문자로 변환하고, 요소(문자열)의 나머지 부분을 붙여서 출력한다.

Dog
Cat
Parrot

28

파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

```
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
```
```
hello
ex01
intro
```

In [ ]:
list = ['hello.py', 'ex01.py', 'intro.hwp']

for i in list :
  print(i.split(".")[0])

hello
ex01
intro

29
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```
intra.h
define.h
```

In [ ]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in list :
  if(i.split(".")[1] == "h") :
    print(i)

intra.h
define.h

30
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```
intra.h
intra.c
define.h
```

In [ ]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py'] # list 리스트를 선언

for i in list : # i는 list의 모든 요소를 순ㅇ회
  if(i.split(".")[1] == "h" or i.split(".")[1] == "c") : # 요소(문자열)를 "."을 기준으로 분리시킨 후, index가 1인 요소가 "h" 또는 "c"라면
    print(i) # 요소를 출력

intra.h
intra.c
define.h

31

for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [ ]:
for i in range(100) :
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

32

월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

```
2002
2006
2010
...
2042
2046
2050
```
참고) range의 세번 째 파라미터는 증감폭을 결정합니다.
```
>> print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]
```

In [ ]:
for i in range(2002,2051,4) :
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

33

1부터 30까지의 숫자 중 3의 배수를 출력하라.

```
3 
6 
9 
12 
15 
18 
21 
24 
27 
30
```

In [2]:
for i in range(1,31) : # i는 1부터 30까지 순회
  if(i%3 == 0) : # i를 3으로 나눈 나머지가 0이라면(i가 3의 배수라면)
    print(i) # i를 출력한다

3
6
9
12
15
18
21
24
27
30

34

99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [ ]:
for i in range(99,-1,-1) :
  print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

35

for문을 사용해서 아래와 같이 출력하라.

```
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
```

In [ ]:
for i in range(0, 10 , 1) :
  print(round(i*0.1, 1))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

36

구구단 3단을 출력하라.
```
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
```

In [ ]:
for i in range(1,10) : # i는 1부터 9까지 순회한다
  print("3x",i, " = ",i*3,sep="") # 3에 1~9를 순차적으로 곱해주며 출력한다

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

37

구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

```
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
```

In [ ]:
for i in range(1,10) :
  if(i%2 == 1) :
    print("3x",i, " = ",i*3,sep="")

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

38

1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```
합 : 55
```

In [ ]:
sum = 0;
for i in range(1,11) :
  sum += i
print(sum)

55

39

1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```
합: 25
```

In [ ]:
sum = 0; # sum을 선언하고 0으로 초기화
for i in range(1,11) : #i는 1 부터 10까지 순회
  if(i%2 == 1) : # i를 2로 나눈 나머지가 1이라면(짝수가 아니라면,홀수)
    sum += i # sum에 i를 더해준다.
print(sum) #

25

40

1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [ ]:
result = 1;

for i in range(1,11) :
  result *= i

print(result)

3628800

41

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```
price_list = [32100, 32150, 32000, 32500]
32100
32150
32000
32500
```

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(0,len(price_list)) :
  print(price_list[i])

32100
32150
32000
32500

42

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
0 32100
1 32150
2 32000
3 32500
```

In [4]:
price_list = [32100, 32150, 32000, 32500] # price_list 선언

for i in range(0,len(price_list)) : # i는 0~3까지 순회
  print(i,price_list[i]) # i와 i를 인덱스로 하는 price_list의 요소를 출력

#enumerate를 사용한 방법
# for idx, value in enumerate(price_list) :
#   print(idx, value)

0 32100
1 32150
2 32000
3 32500

43

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
3 32100
2 32150
1 32000
0 32500
```

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(0,len(price_list)) :
  print(len(price_list)-i-1,price_list[i])

3 32100
2 32150
1 32000
0 32500

44

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
100 32150
110 32000
120 32500
```

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(1,len(price_list)) :
  print(100 + (i-1)*10 ,price_list[i])

100 32150
110 32000
120 32500

45

my_list를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라"]
가 나
나 다
다 라
```

In [ ]:
my_list = ["가", "나", "다", "라"] # my_list를 선언

for i in range(3) : # i는 0부터 2까지 순회
  print(my_list[i], my_list[i+1]) # my_list의 index가 i인 요소와 i+1인 요소를 출력

가 나
나 다
다 라

46

리스트를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라", "마"]
가 나 다
나 다 라
다 라 마
```

In [ ]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(3) :
  print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

47

반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라"]
라 다
다 나
나 가
```

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in range(3,0,-1) :
  print(my_list[i], my_list[i-1])

라 다
다 나
나 가

48

리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

```
my_list = [100, 200, 400, 800]
```
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
```
100
200
400
```

In [6]:
my_list = [100, 200, 400, 800] # my_list를 선언

for i in range(3) : # i는 0~3을 순회
  print(abs(my_list[i] - my_list[i+1])) # my_list의 index가 i인 요소에서 index가 i+1인 요소를 뺀 후, 그 값의 절대값을 출력한다.

100
200
400

49

리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

```
my_list = [100, 200, 400, 800, 1000, 1300]
```
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.
```
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [ ]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(0,4) :
  sum = my_list[i] + my_list[i+1] + my_list[i+2]
  avg = sum/3
  print(avg)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

50

리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

```
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
```

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(0,len(low_prices)) :
  
  volatility.append(high_prices[i] - low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]